<html>
<head>
<title>{{ title }}</title>
</head>
<body>
{% if current_user.is_anonymous %}
<a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a>
{% else %}
<p>Logged in as {{ current_user.username }}</p>
<form action="{{ url_for('logout') }}" method="post"><input type="submit" value="Logout"></form>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>{{ title }}</h1>
{% block content %}
{% endblock %}
</body>
</html>
