{% extends "base.html" %}

{% set title = "Profile" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
{% for field in ["email", "display_name", "timezone", "min_interval", "active"] %}
        <p>
            {{ form[field].label }}<br>
            {{ form[field] }}<br>
            {% for error in form[field].errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
{% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
